/*test*/



@font-face {
font-family: MinecraftAE; /*字体名字*/
src: url(‘LittleMonkeyHou.github.io/fonts/Minecraft Pixel.ttf’); /*字体文件路径*/
}


@font-face {
font-family: Sleek+GoogleSans; /*字体名字*/
src: url(‘LittleMonkeyHou.github.io/fonts/Sleek+Google Sans.ttf’); /*字体文件路径*/
}
