body#homefirst div#maincontent div

		{		padding-top:0;

		padding-bottom:30px;

		width:810px;

		}

body#homefirst div#maincontent div#d1

		{

		text-align:center;

		}

body#homefirst div#maincontent div#partner

		{

		width: 307px;

		float: left;

		}

body#homefirst div#maincontent div#update

		{

		width: 300px;

		float: left;

		margin:0;

		}

body#homefirst div#maincontent div#d1 h2

		{

		margin-top:35px;

		font-size:24px;

		}

body#homefirst div#maincontent div#d1 p

		{

		margin-left:0;

		font-size:18px;

		}

body#homefirst div#maincontent p

		{

		font-size:16px;

		margin-left:110px;

		}

body#homefirst div#maincontent h3

		{

		margin-top:35px;

		margin-left:110px;

		font-size:24px;

		}

body#homefirst div#maincontent div.idea

		{

		padding: 0;

		padding-bottom:30px;

		min-height: 118px;

		}

body#homefirst div#maincontent div#d2

		{

		background : transparent url(/ui2017/icon2.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d3

		{

		background : transparent url(/ui2017/icon3.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d4

		{

		background : transparent url(/ui2017/icon4.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d5

		{

		background : transparent url(/ui2017/icon5.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d6

		{

		background : transparent url(/ui2017/icon6.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d7

		{

		background : transparent url(/ui2017/icon7.png) 0 0 no-repeat;

		}

body#homefirst div#maincontent div#d8

		{

		background : transparent url(/ui2017/icon8.png) 0 0 no-repeat;

		border:0px;

		}

body#homefirst div#maincontent div#d9		{

		background: transparent url(/ui2017/icon9.png) top left no-repeat;

		}

body#homefirst div#maincontent div#d10		{

		background: transparent url(/ui2017/icon10.png) top left no-repeat;

		}

body#homefirst div#maincontent div.idea img

		{

		margin:0;

		float:left;

		}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{

		margin-left:75px;

		margin-top:10px;

		width:290px;

		float:left;

		border:0;

		}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{

		margin-left:75px;

		margin-top:15px;

		float:left;

		border:0;

		min-height:87px;

		}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{

		width:290px;

		}

body#homefirst div#maincontent div#d10	{

		width:299px;

		}

body#homefirst div#maincontent div#d9 h3, body#homefirst div#maincontent div#d10 h3	{

		font-size:14px;

		margin:23px 0 0 58px;

		color:#777;

		font-weight:400;

		}

body#homefirst div#maincontent div#d9 p, body#homefirst div#maincontent div#d10 p	{

		font-size:14px;

		margin:0 0 0 58px;

		line-height:normal;

		}

div#d9 p a	{

		color:#000;

		}
